<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add new user</title>
</head>
<body>
    <h1><i>Add New User</i></h1>
    <br><br><br>
    <form action="/user/add/<%=id%>" method="post" style="border: 2px solid black; border-radius: 1.5rem; padding-left: 20px; padding-bottom: 5px; width: 500px;">
        <h3>ID:<%=id%></h3>
        <h3>USERNAME:<input type="text" name="username"></h3>
        <h3>EMAIL:<input type="text" name="email"></h3>
        <h3>PASSWORD:<input type="text" name="password"></h3>
        
        <h1><button type="submit">SUBMIT</button></h1>
    </form>
</body>
</html>